### Question 1: -
Write a program that takes a string as input, and counts the frequency of each word in the string, there might
be repeated characters in the string. Your task is to find the highest frequency and returns the length of the
highest-frequency word.

Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.
Example input - string = “write write write all the number from from from 1 to 100”
Example output - 5
Explanation - From the given string we can note that the most frequent words are “write” and “from” and
the maximum value of both the values is “write” and its corresponding length is 5

In [2]:
from statistics import mode

string  = "number write write write all the number number from from from number 1 to 100 number"

temp = [i for i in string.split()]
print(len(mode(temp)))

6

###  Question 2: -
Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if
he can remove just one character at the index in the string, and the remaining characters will occur the same
number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO .

Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.
Example input 1 - s = “abc”. This is a valid string because frequencies are { “a”: 1, “b”: 1, “c”: 1 }
Example output 1- YES
Example input 2 - s “abcc”. This string is not valid as we can remove only 1 occurrence of “c”. That leaves
character frequencies of { “a”: 1, “b”: 1 , “c”: 2 }
Example output 2 - NO

In [3]:
input = "abcdd"
_list = {input.count(i) for i in input}

if len(_list) > 1:
    print("NO")
else :
    print("Yes")

NO

### Question 3: -
Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json

Data Attributes - 
● id: Identification Number - int 
● num: Number of the pokemon in the official Pokédex - int 
● name: pokemon name - string 
● img: URL to an image of this pokemon - string 
● type: pokemon type -string 
● height: pokemon height - float
● weight: pokemon weight - float 
● candy: type of candy used to evolve pokemon or given when transferred - string 
● candy_count: the amount of candies required to evolve - int
● egg: Number of kilometers to travel to hatch the egg - float 
● spawn_chance: Percentage of spawn chance (NEW) - float avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all time zones and are expressed in local time. (NEW) - “minutes: seconds”
● multipliers: Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int
● weakness: Types of pokemon this pokemon is weak to - list of strings 
● next_evolution: Number and Name of successive evolutions of pokemon - list of dict
● prev_evolution: Number and Name of previous evolutions of pokemon - - list of dict

In [270]:
import pandas as pd
import numpy as np

transactions_url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"
df_3 = pd.read_json(transactions_url)

In [263]:
def convert(df):
    df_data= []
    id_arr = num_arr = name_arr =  img_arr = type_arr = height_arr = weight_arr = candy_arr = candy_count_arr = egg_arr = spawn_chance_arr = spawn_time_arr = multipliers_arr = weakness_arr = next_arr = prev_arr = np.array([])
    for row in df.index:
        id_arr = np.append(id_arr, df.iloc[row][0]["id"])
        num_arr = np.append(num_arr, df.iloc[row][0]["num"])
        name_arr = np.append(name_arr, df.iloc[row][0]["name"])
        img_arr = np.append(img_arr, df.iloc[row][0]["img"])
        type_arr = np.append(type_arr, ", ".join(df.iloc[row][0]["type"]))
        height_arr = np.append(height_arr, df.iloc[row][0]["height"])
        weight_arr = np.append(weight_arr, df.iloc[row][0]["weight"])
        candy_arr = np.append(candy_arr, df.iloc[row][0]["candy"])
        candy_count_arr = np.append(candy_count_arr, df.iloc[row][0]["candy_count"]) if "candy_count" in df.iloc[row][0] else np.append(candy_count_arr, "-")
        egg_arr = np.append(egg_arr, df.iloc[row][0]["egg"])
        spawn_chance_arr = np.append(spawn_chance_arr, df.iloc[row][0]["spawn_chance"])
        spawn_time_arr = np.append(spawn_time_arr, df.iloc[row][0]["spawn_time"])
        multipliers_arr = np.append(multipliers_arr, (" ,".join(str(i) for i in df.iloc[row][0]["multipliers"]))) if df.iloc[row][0]["multipliers"] not in ("None", None, "") else np.append(multipliers_arr, "-")
        weakness_arr = np.append(weakness_arr, " ,".join(df.iloc[row][0]["weaknesses"]))
        next_arr = np.append(next_arr, (" ,".join(str(i) for i in df.iloc[row][0]["next_evolution"]))) if "next_evolution" in df.iloc[row][0] else np.append(next_arr, "-")
        prev_arr = np.append(prev_arr, (" ,".join(str(i) for i in df.iloc[row][0]["prev_evolution"]))) if "prev_evolution" in df.iloc[row][0] else np.append(prev_arr, "-")

    df_data = {
        "id": id_arr, 
        "num": num_arr, 
        "name": name_arr, 
        "img": img_arr,
        "pokemon type":type_arr,
        "height": height_arr,
        "weight": weight_arr,
        "candy": candy_arr,
        "candy_count": candy_count_arr,
        "egg": egg_arr,
        "spawn_chance": spawn_chance_arr,
        "spawn_time": spawn_time_arr,
        "multipliers": multipliers_arr,
        "weakness": weakness_arr,
        "next_evolution": next_arr,
        "prev_evolution": prev_arr,
        }
    
    return pd.DataFrame(data=df_data)


new_df_3 = convert(df_3)
new_df_3

,id,num,name,img,pokemon type,height,weight,candy,candy_count,egg,spawn_chance,spawn_time,multipliers,weakness,next_evolution,prev_evolution
0,1.0,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.6900,20:00,1.58,"Fire ,Ice ,Flying ,Psychic","{'num': '002', 'name': 'Ivysaur'} ,{'num': '00...",-
1,2.0,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.0420,07:00,"1.2 ,1.6","Fire ,Ice ,Flying ,Psychic","{'num': '003', 'name': 'Venusaur'}","{'num': '001', 'name': 'Bulbasaur'}"
2,3.0,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,-,Not in Eggs,0.0170,11:30,-,"Fire ,Ice ,Flying ,Psychic",-,"{'num': '001', 'name': 'Bulbasaur'} ,{'num': '..."
3,4.0,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25,2 km,0.2530,08:45,1.65,"Water ,Ground ,Rock","{'num': '005', 'name': 'Charmeleon'} ,{'num': ...",-
4,5.0,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100,Not in Eggs,0.0120,19:00,1.79,"Water ,Ground ,Rock","{'num': '006', 'name': 'Charizard'}","{'num': '004', 'name': 'Charmander'}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147.0,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,Dragon,1.80 m,3.3 kg,Dratini Candy,25,10 km,0.3000,06:41,"1.83 ,1.8399999999999999","Ice ,Dragon ,Fairy","{'num': '148', 'name': 'Dragonair'} ,{'num': '...",-
147,148.0,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,3.99 m,16.5 kg,Dratini Candy,100,Not in Eggs,0.0200,11:57,2.05,"Ice ,Dragon ,Fairy","{'num': '149', 'name': 'Dragonite'}","{'num': '147', 'name': 'Dratini'}"
148,149.0,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"Dragon, Flying",2.21 m,210.0 kg,Dratini Candy,-,Not in Eggs,0.0011,23:38,-,"Ice ,Rock ,Dragon ,Fairy",-,"{'num': '147', 'name': 'Dratini'} ,{'num': '14..."
149,150.0,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,2.01 m,122.0 kg,None,-,Not in Eggs,0.0000,N/A,-,"Bug ,Ghost ,Dark",-,-
150,151.0,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,0.41 m,4.0 kg,None,-,Not in Eggs,0.0000,N/A,-,"Bug ,Ghost ,Dark",-,-

In [266]:
# !pip install pandas xlsxwriter

In [269]:
excel_writer = pd.ExcelWriter("python_task3.xlsx", engine='xlsxwriter')

new_df_3.to_excel(excel_writer)

excel_writer.save()

###  Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.


Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [272]:
df_4 = pd.read_json("https://data.nasa.gov/resource/y77d-th95.json")
df_4

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230.0,Fell,1934-01-01T00:00:00.000,13.63333,79.41667,"{'type': 'Point', 'coordinates': [79.41667, 13...",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000.0,Fell,2011-01-01T00:00:00.000,29.48195,-7.61123,"{'type': 'Point', 'coordinates': [-7.61123, 29...",NaN,NaN
997,Tjabe,24011,Valid,H6,20000.0,Fell,1869-01-01T00:00:00.000,-7.08333,111.53333,"{'type': 'Point', 'coordinates': [111.53333, -...",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500.0,Fell,1922-01-01T00:00:00.000,-6.66667,106.58333,"{'type': 'Point', 'coordinates': [106.58333, -...",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600.0,Fell,1905-01-01T00:00:00.000,47.85000,34.76667,"{'type': 'Point', 'coordinates': [34.76667, 47...",NaN,NaN

### 4.

### 5.

### 6.

### 7.

### 8.

### 9.

### 10.