### Question 1: -
Write a program that takes a string as input, and counts the frequency of each word in the string, there might
be repeated characters in the string. Your task is to find the highest frequency and returns the length of the
highest-frequency word.

Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.
Example input - string = “write write write all the number from from from 1 to 100”
Example output - 5
Explanation - From the given string we can note that the most frequent words are “write” and “from” and
the maximum value of both the values is “write” and its corresponding length is 5

In [47]:
from statistics import mode

string  = "number write write write all the number number from from from number 1 to 100 number"

temp = [i for i in string.split()]
print(len(mode(temp)))

6

###  Question 2: -
Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if
he can remove just one character at the index in the string, and the remaining characters will occur the same
number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO .

Note - You have to write at least 2 additional test cases in which your program will run successfully and provide
an explanation for the same.
Example input 1 - s = “abc”. This is a valid string because frequencies are { “a”: 1, “b”: 1, “c”: 1 }
Example output 1- YES
Example input 2 - s “abcc”. This string is not valid as we can remove only 1 occurrence of “c”. That leaves
character frequencies of { “a”: 1, “b”: 1 , “c”: 2 }
Example output 2 - NO

In [48]:
input = "abcdd"
_list = {input.count(i) for i in input}

if len(_list) > 1:
    print("NO")
else :
    print("Yes")

NO

### Question 3: -
Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json

Data Attributes - 
● id: Identification Number - int 
● num: Number of the
● pokemon in the official Pokédex - int name: pokemon name -
● string img: URL to an image of this pokemon - string type:
● pokemon type -string height: pokemon height - float
● weight: pokemon weight - float candy: type of candy used to evolve pokemon or given
● when transferred - string candy_count: the amount of candies required to evolve - int
● egg: Number of kilometers to travel to hatch the egg - float spawn_chance:
● Percentage of spawn chance (NEW) - float avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all time zones and are expressed in local time. (NEW) - “minutes: seconds” multipliers:
Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int weakness: Types of
● pokemon this pokemon is weak to - list of strings next_evolution: Number and Name of successive evolutions of pokemon - list of dict prev_evolution: Number and Name of previous evolutions of pokemon - - list of dict

In [155]:
import pandas as pd
import numpy as np
df = pd.read_json("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json")

df

                                               pokemon
0    {'id': 1, 'num': '001', 'name': 'Bulbasaur', '...
1    {'id': 2, 'num': '002', 'name': 'Ivysaur', 'im...
2    {'id': 3, 'num': '003', 'name': 'Venusaur', 'i...
3    {'id': 4, 'num': '004', 'name': 'Charmander', ...
4    {'id': 5, 'num': '005', 'name': 'Charmeleon', ...
..                                                 ...
146  {'id': 147, 'num': '147', 'name': 'Dratini', '...
147  {'id': 148, 'num': '148', 'name': 'Dragonair',...
148  {'id': 149, 'num': '149', 'name': 'Dragonite',...
149  {'id': 150, 'num': '150', 'name': 'Mewtwo', 'i...
150  {'id': 151, 'num': '151', 'name': 'Mew', 'img'...

[151 rows x 1 columns]

In [172]:
def convert(df):
    df = df.T
    print("df", df)
    # print("df['id']", df['id'])
    # df_normalized = pd.json_normalize(df['id'])
    # print("df_normalized", df_normalized)
    # df1 = df1.merge(df_normalized, left_index=True, right_index=True) 
    # return df1

In [171]:
df1 = convert(df)
df1

KeyError: 'id'

###  3.

### 4.

### 5.

### 6.

### 7.

### 8.

### 9.

### 10.